<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.mm.mapper.MemberMapper">
    <!--得到会员信息列表-->
    <select id="getMemberList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.mm.Member">
        SELECT A.SEQ_ID,A.ACCOUNT,B.STATUS,A.NICK_NAME,A.FULL_NAME,A.SEX,A.MOBILE_PHONE,A.EMAIL,A.GRADE,A.INTEGRAL,A.REGISTRY_TIME
        FROM MM_MEMBER_BASE A
        LEFT JOIN MM_ACCOUNT B ON A.ACCOUNT=B.ACCOUNT
        WHERE A.IS_VALID=1
        <if test="fullNameS != null and fullNameS != ''">
            AND A.FULL_NAME LIKE  '%${fullNameS}%'
        </if>
        ORDER BY A.REGISTRY_TIME
    </select>
    <!--得到会员信息-->
    <select id="getMemberInfo" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.mm.Member">
        SELECT A.SEQ_ID,A.ACCOUNT,A.NICK_NAME,A.FULL_NAME,A.SEX,A.MOBILE_PHONE,A.EMAIL,A.GRADE,A.INTEGRAL,A.REGISTRY_TIME
        FROM MM_MEMBER_BASE A INNER JOIN MM_ACCOUNT B ON A.ACCOUNT=B.ACCOUNT
        WHERE A.IS_VALID=1 AND B.ACCOUNT=#{account}
    </select>

</mapper>