<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.abs.mapper.BasicAssetMapper">
    <!--查询基础资产数据-->
    <select id="getBasicAssetList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.abs.BasicAsset">
        SELECT
            T.ID,
            T.ACCT_NO,
            T.CUSTOM_NAME,
            T.SEX,
            T.CERT_ID,
            T.MONTH_INCOME,
            T.GRANT_LIMIT,
            T.SURPLUS_LIMIT,
            T.LOAN_SURPLUS_AMT,
            T.LOAN_SDATE,
            T.LOAN_EDATE,
            T.LOAN_RATE,
            T.REFUND_TYPE,
            T.PAY_IRT_TYPE,
            T.CREDIT_RATE,
            T.FIVE_CLASSIFY,
            T.LOAN_TYPE,
            T.ASSET_STE
        FROM ABS_BASIC_ASSET T
        WHERE T.ISVALID=1
        <if test="acctNoS != null and acctNoS != ''">
            AND T.ACCT_NO=#{acctNoS}
        </if>
    </select>
</mapper>