<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.infrastructure.repository.mapper.ProductMapper">
    <!--得到商品信息-->
    <select id="getProductInfo" parameterType="java.util.Map" resultType="com.mall.product.domain.entity.Product">
        SELECT A.SEQ_ID,A.PRODUCT_CODE,A.PRODUCT_NAME,A.TITLE,A.STATUS,A.CREATE_TIME
        FROM PM_PRODUCT A
        WHERE A.SEQ_ID=#{seqId}
    </select>
</mapper>