<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.infrastructure.repository.mapper.SkuMapper">
    <!--得到商品SKU列表-->
    <select id="getProductSkuList" parameterType="java.util.Map" resultType="com.mall.product.domain.entity.Sku">
        SELECT A.SEQ_ID,A.PRODUCT_SEQ_ID,A.SPECS_NAME,A.SELL_PRICE,A.MARKET_PRICE,A.INVENTORY_AMOUNT,A.WARN_AMOUNT,A.CREATE_TIME
        FROM PM_PRODUCT_SKU A
        WHERE A.PRODUCT_SEQ_ID=#{productSeqId}
    </select>
</mapper>