<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.mapper.UserTokenMapper">
    <!--根据ID查询用户Token-->
    <select id="getUserTokenByUserId" parameterType="java.util.Map" resultType="com.jbos.app.sys.pojo.UserToken">
        SELECT USERID,TOKEN,EXPIRETIME,UPDATETIME
        FROM JBOS_USER_TOKEN
        WHERE USERID=#{userid}
    </select>
    <!--根据accessToken查询用户Token-->
    <select id="getUserTokenByAccessToken" parameterType="java.util.Map" resultType="com.jbos.app.sys.pojo.UserToken">
        SELECT USERID,TOKEN,EXPIRETIME,UPDATETIME
        FROM JBOS_USER_TOKEN
        WHERE TOKEN=#{token}
    </select>
    <insert id="addUserToken" parameterType="com.jbos.app.sys.pojo.UserToken">
        INSERT INTO JBOS_USER_TOKEN(USERID,TOKEN,EXPIRETIME,UPDATETIME)
        VALUES(#{userId},#{token},#{expireTime},#{updateTime})
    </insert>
    <!--更新用户Token-->
    <update id="updateUserToken" parameterType="com.jbos.app.sys.pojo.UserToken">
        UPDATE JBOS_USER_TOKEN
        SET TOKEN=#{token},EXPIRETIME=#{expireTime},UPDATETIME=#{updateTime}
        WHERE USERID=#{userId}
    </update>
    <update id="updateUserInfo" parameterType="java.util.Map">
        UPDATE JBOS_USER_TOKEN SET A.TOKEN='11'
    </update>
</mapper>