<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.mapper.DictCodeMapper">
    <!--得到数据字典数据-->
    <select id="getDictCodeList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.DictCode">
        SELECT TYPEID,DICTID,DICTNAME,ORDERNO
        FROM JBOS_DICT_CODE
        WHERE TYPEID=#{typeId}
        ORDER BY ORDERNO
    </select>
    <!--删除业务字典-->
    <delete id="deleteDictCode" parameterType="java.lang.String">
        DELETE FROM JBOS_DICT_CODE
        WHERE TYPEID=#{typeId}
    </delete>
    <!--新增业务字典-->
    <insert id="insertDictCode" parameterType="java.util.List">
        INSERT INTO JBOS_DICT_CODE(TYPEID,DICTID,DICTNAME,ORDERNO)
        VALUES
        <foreach collection="list" item="dictCode" separator =",">
            (#{dictCode.typeId}, #{dictCode.dictId}, #{dictCode.dictName}, #{dictCode.orderNo})
        </foreach>
    </insert>
</mapper>