<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.sm.mapper.EmpMapper">
    <!--查询机构员工数据-->
    <select id="getEmpList"  parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.sm.Emp">
        SELECT T.ID,T.BADGE,T.EMPNAME,T.ORGID,
        (SELECT B.ORGNAME FROM JBOS_ORG B WHERE B.ID=T.ORGID) AS ORGNAME,
        T.DEPID,
        (SELECT B.DEPNAME FROM JBOS_DEP B WHERE B.ID=T.DEPID) AS DEPNAME,
        (SELECT CONCAT(B.DEPNAME,'-',T.EMPNAME) FROM JBOS_DEP B WHERE B.ID=T.DEPID) AS DEPEMPNAME,
        T.HEADSHIP,
        (SELECT B.DICTNAME FROM JBOS_DICT_CODE B WHERE B.TYPEID='JBOS_HEADSHIP' AND B.DICTID=T.HEADSHIP) AS HEADSHIPNAME,
        T.EMPSTATUS,
        (SELECT B.DICTNAME FROM JBOS_DICT_CODE B WHERE B.TYPEID='JBOS_EMP_STATUS' AND B.DICTID=T.EMPSTATUS) AS EMPSTATUSNAME
        FROM JBOS_EMP T
        WHERE T.ISVALID=1
        <if test="orgId != null and orgId != ''">
            AND T.ORGID = #{orgId}
        </if>
        <if test="badgeS != null and badgeS != ''">
            AND T.BADGE = #{badgeS}
        </if>
        <if test="empNameS != null and empNameS != ''">
            AND T.EMPNAME LIKE  '%${empNameS}%'
        </if>
        ORDER BY T.ORDERNO
    </select>
    <!--新增人员信息-->
    <insert id="addEmp" parameterType="java.util.Map">
        INSERT INTO JBOS_EMP(
            ID,BADGE,EMPNAME,ORGID,DEPID,HEADSHIP,EMPSTATUS,CREATETIME
        )VALUES(
            #{id},#{badge},#{empName},#{orgId},#{depId},#{headShip},'running',#{createTime}
        )
    </insert>
    <!--新增人员用户信息-->
    <insert id="addEmpUser" parameterType="java.util.Map">
        INSERT INTO JBOS_USER(
            ID,USERNAME,LOGINNAME,PASSWORD,SALT,USERSTATUS
        )VALUES (
            #{id},#{empName},#{badge},#{password},#{salt},'running'
        )
    </insert>
    <!--更新人员信息-->
    <update id="updateEmp" parameterType="java.util.Map">
        UPDATE JBOS_EMP
        SET EMPNAME=#{empName},DEPID=#{depId},HEADSHIP=#{headShip},EMPSTATUS=#{empStatus}
        WHERE ID=#{id}
    </update>
    <!--更新人员用户信息-->
    <update id="updateEmpUser" parameterType="java.util.Map">
        UPDATE JBOS_USER
        SET NICKNAME=#{empName},USERSTATUS=#{empStatus}
        WHERE USERNAME=#{badge}
    </update>
    <!--删除人员信息-->
    <delete id="deleteEmp" parameterType="java.lang.String">
        DELETE FROM JBOS_EMP
        WHERE ID=#{id}
    </delete>
    <!--删除人员用户信息-->
    <delete id="deleteEmpUser" parameterType="java.lang.String">
        DELETE FROM JBOS_USER
        WHERE USERNAME=#{LOGINNAME}
    </delete>
</mapper>