<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.mapper.OrgMapper">
    <!--查询组织机构数据-->
    <select id="getOrgTree"  parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.TreeNode">
        SELECT T.ID,T.ORGNAME AS TEXT,
        CASE
            WHEN (SELECT COUNT(1) FROM JBOS_ORG B WHERE B.PARENTID=T.ID)>=1 THEN 0
            ELSE 1
        END AS LEAF
        FROM JBOS_ORG T
        WHERE T.ISVALID=1 AND T.PARENTID = #{parentId}
        ORDER BY ORDERNO
    </select>

    <!--查询组织机构数据-->
    <select id="getOrgList"  parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.Org">
        SELECT T.ID,T.PARENTID,T.ORGCODE,T.ORGNAME,T.REMARK
        FROM JBOS_ORG T
        WHERE T.ISVALID=1
        <if test="parentId != null and parentId != ''">
            AND T.PARENTID = #{parentId}
        </if>
        ORDER BY ORDERNO
    </select>
    <!--查询组织机构数据-->
    <select id="getOrg"  parameterType="java.lang.String" resultType="com.mall.admin.domain.entity.Org">
        SELECT ID,PARENT_ID,ORG_CODE,ORG_NAME,ORG_TYPE,ORG_DESC FROM JBOS_T_ORG
        WHERE ID=#{orgId}
    </select>
    <!--保存组织机构数据-->
    <insert id="addOrg" parameterType="com.mall.admin.domain.entity.Org">
        INSERT INTO JBOS_T_ORG(ID,PARENT_ID,ORG_CODE,ORG_NAME,ORG_TYPE,ORG_DESC)
        VALUES(#{id},#{parentId},#{orgCode},#{orgName},#{orgType},#{orgDesc})
    </insert>
    <!--更新组织机构数据-->
    <update id="updateOrg" parameterType="com.mall.admin.domain.entity.Org">
        UPDATE JBOS_T_ORG SET ORG_CODE=#{orgCode},ORG_NAME=#{orgName},ORG_TYPE=#{orgType},ORG_DESC=#{orgDesc}
        WHERE ID=#{id}
    </update>
    <!--删除组织机构数-->
    <delete id="deleteOrg" parameterType="java.lang.String">
        DELETE FROM JBOS_T_ORG WHERE ID=#{id}
    </delete>
</mapper>
