<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.sm.mapper.ProcessTaskMapper">
    <!--查询用户待办任务数据-->
    <select id="getUserTaskList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.sm.ProcessTask">
        SELECT * FROM (
            SELECT
                task.ID_ ID,
                task.PROC_INST_ID_ PROCINSTID,
                task.PROC_DEF_ID_ PROCDEFID,
                T1.BIZID,
                T1.BIZNO,
                CASE
                WHEN T1.BIZTYPE='materialBuy' THEN '物品采购'
                END BIZTYPE,
                task.ID_ TASKID,
                task.NAME_ TASKNAME,
                task.TASK_DEF_KEY_ TASKDEFKEY,
                task.CREATE_TIME_ STARTTIME,
                task.ASSIGNEE_ ASSIGNEE,
                T1.ROUTEURL,
                '处理中' TASKSTATE
            FROM camunda.act_ru_task task
            LEFT JOIN JBOS_PROCESS_INST T1 ON task.PROC_INST_ID_=T1.PROCINSTID
            WHERE task.ASSIGNEE_=#{userId}
            <if test="bizNoS != null and bizNoS != ''">
                AND T1.BIZNO LIKE '%${bizNoS}%'
            </if>
            <if test="bizTypeS != null and bizTypeS != ''">
                AND T1.BIZTYPE=#{bizTypeS}
            </if>
        ) T
        ORDER BY T.STARTTIME
    </select>
    <!--查询用户已办任务数据-->
    <select id="getUserTaskProcessedList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.sm.ProcessTask">
        SELECT * FROM (
            SELECT
                hi.ID_ ID,
                hi.PROC_INST_ID_ PROCINSTID,
                hi.PROC_DEF_ID_ PROCDEFID,
                T1.BIZID,
                T1.BIZNO,
                CASE
                WHEN T1.BIZTYPE='materialBuy' THEN '物品采购'
                END BIZTYPE,
                hi.TASK_ID_ TASKID,
                hi.ACT_NAME_ TASKNAME,
                hi.ACT_ID_ TASKDEFKEY,
                hi.START_TIME_ STARTTIME,
                hi.END_TIME_ ENDTIME,
                hi.ASSIGNEE_ ASSIGNEE,
                T1.ROUTEURL,
                '已处理' TASKSTATE
            FROM camunda.act_hi_actinst hi
            LEFT JOIN JBOS_PROCESS_INST T1 ON hi.PROC_INST_ID_=T1.PROCINSTID
            WHERE hi.ASSIGNEE_=#{userId} and hi.ACT_INST_STATE_ IN (1,4)
            <if test="bizNoS != null and bizNoS != ''">
                AND T1.BIZNO LIKE '%${bizNoS}%'
            </if>
            <if test="bizTypeS != null and bizTypeS != ''">
                AND T1.BIZTYPE=#{bizTypeS}
            </if>
        ) T
        ORDER BY T.STARTTIME DESC
    </select>
    <!--查询流程任务处理步骤-->
    <select id="getUserTaskStepList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.sm.TaskStep">
        SELECT
            hi.ID_ ID,
            hi.PROC_INST_ID_ PROCINSTID,
            hi.PROC_DEF_ID_ PROCDEFID,
            hi.TASK_ID_ TASKID,
            hi.ACT_NAME_ title,
            hi.ACT_ID_ TASKDEFKEY,
            hi.START_TIME_ STARTTIME,
            hi.END_TIME_ ENDTIME,
            (SELECT CONCAT(emp.EMPNAME,'(',emp.BADGE,') ',IFNULL(hi.END_TIME_,''))FROM JBOS_EMP emp WHERE emp.BADGE=hi.ASSIGNEE_  limit 1) description,
            hi.ACT_INST_STATE_ TASKSTATE,
            CASE
            WHEN hi.ACT_INST_STATE_='4' || hi.ACT_INST_STATE_='1' THEN 'finish'
            ELSE 'process'
            END status
        FROM camunda.act_hi_actinst hi
        WHERE hi.PROC_INST_ID_=#{procInstId} and hi.ACT_TYPE_='userTask' and hi.ACT_INST_STATE_ IN (0,1,4)
        ORDER BY hi.START_TIME_
    </select>
    <!--查询流程任务的领取人-->
    <select id="getTaskAssigneeList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			T.ID,
            T.BADGE,
            T.EMPNAME,
            T2.ROLECODE,
            T2.ROLENAME
        FROM JBOS_EMP T
        INNER JOIN JBOS_USER_ROLE T1 ON T.ID=T1.USERID
        LEFT JOIN JBOS_ROLE T2 ON T1.ROLEID=T2.ID
        WHERE T.ISVALID=1 AND T2.ROLECODE=#{taskDefKey}
        <if test="taskDefKey == 'ROLE_DEP_LEADER' or taskDefKey == 'ROLE_CHARGE_LEADER'">
            AND T.DEPID=#{depId}
        </if>

    </select>
    <!--新增流程任务数据-->
    <insert id="addProcessTask" parameterType="com.mall.admin.domain.entity.sm.ProcessTask">
        INSERT JBOS_PROCESS_TASK(
            ID,
            PROCINSTID,
            TASKDEFKEY,
            TASKNAME,
            ASSIGNEE,
            TASKSTATE,
            STARTTIME
        )VALUE(
            #{id},
            #{procInstId},
            #{taskDefKey},
            #{taskName},
            #{assignee},
           '20',
            #{startTime}
        )
    </insert>
    <!--更新流程任务审批意见-->
    <update id="updateProcessTaskOpinion" parameterType="com.mall.admin.domain.entity.sm.ProcessTask">
        UPDATE JBOS_PROCESS_TASK
        SET TASKID=#{taskId},OPINION=#{opinion},ENDTIME=#{endTime},TASKSTATE='90'
        WHERE PROCINSTID=#{procInstId} AND TASKDEFKEY=#{taskDefKey} AND ASSIGNEE=#{assignee} AND TASKSTATE='20'
    </update>
</mapper>