<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.mapper.UserMapper">
    <!--根据ID查询用户信息-->
    <select id="getUserInfoById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT A.ID,A.LOGINNAME,A.USERNAME,A.USERSTATUS
        FROM JBOS_USER A
        WHERE A.ID=#{userid}
    </select>
    <!--根据登录用户查询用户信息-->
    <select id="getUserInfoByLoginName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT A.ID,A.LOGINNAME,A.USERNAME,B.DEPID,C.DEPNAME,B.ORGID,A.USERSTATUS
        FROM JBOS_USER A
        LEFT JOIN JBOS_EMP B ON A.LOGINNAME=B.BADGE
		LEFT JOIN JBOS_DEP C ON B.DEPID=C.ID
        WHERE A.LOGINNAME=#{username}
    </select>

</mapper>