<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.im.mapper.InvoiceMapper">


    <!--查询报销发票明细-->
    <select id="getReimburseInvoiceItem"  parameterType="java.lang.String" resultType="com.mall.admin.domain.entity.im.Invoice">
        SELECT
            T.ID,
            T.BIZID,
            T.INVOICECODE,
            T.INVOICENO,
            T.AMOUNT
        FROM IM_REIMBURSE_INVOICE T
        WHERE T.BIZID = #{bizId}
    </select>

    <!--新增报销发票明细-->
    <insert id="addReimburseInvoiceItem" parameterType="java.util.List">
        INSERT INTO IM_REIMBURSE_INVOICE(ID,BIZID,INVOICECODE,INVOICENO,AMOUNT)
        VALUES
        <foreach collection="list" item="item" separator =",">
            (
            #{item.id},#{item.bizId}, #{item.invoiceCode},#{item.invoiceNo},#{item.amount}
            )
        </foreach>
    </insert>

    <!--删除报销发票明细-->
    <delete id="deleteReimburseInvoiceItem" parameterType="java.lang.String">
        DELETE FROM IM_REIMBURSE_INVOICE
        WHERE BIZID=#{bizId}
    </delete>
</mapper>