<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.infrastructure.repository.im.mapper.MaterialStoreMapper">
    <!--查询物品库存汇总表-->
    <select id="getMaterialStoreSumList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.im.MaterialStore">
        SELECT
            T.MATERIALID,
            T.MATERIALNAME,
            (SELECT SUM(AMOUNT) FROM IM_MATERIAL_STORE T1 WHERE T1.MATERIALID=T.MATERIALID) AMOUNT,
            (SELECT SUM(SURPLUSAMT) FROM IM_MATERIAL_STORE T1 WHERE T1.MATERIALID=T.MATERIALID) SURPLUSAMT
        FROM IM_MATERIAL_STORE T
        WHERE T.ISVALID=1
        <if test="materialIdS != null and materialIdS != ''">
            AND T.MATERIALID=#{materialIdS}
        </if>
        <if test="materialNameS != null and materialNameS != ''">
            AND T.MATERIALNAME LIKE '%${materialNameS}%'
        </if>
        <if test="sdateS != null and sdateS != ''">
            <![CDATA[
            AND (date_format(T.INTIME,'%Y-%m-%d')>= #{sdateS} AND date_format(T.INTIME,'%Y-%m-%d')<= #{edateS})
            ]]>
        </if>
        GROUP BY T.MATERIALID
        order by T.INTIME DESC
    </select>
    <!--查询物品库存列表-->
    <select id="getMaterialStoreList" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.im.MaterialStore">
        SELECT
            T.ID,
            T.BATCHNO,
            T.INBIZID,
            T.MATERIALID,
            T.MATERIALNAME,
            T.AMOUNT,
            T.SURPLUSAMT,
            T.PRICE,
            T.INTIME,
            T.BIZSTATE
        FROM IM_MATERIAL_STORE T
        WHERE T.ISVALID=1
        <if test="materialIdS != null and materialIdS != ''">
            AND T.MATERIALID=#{materialIdS}
        </if>
        <if test="materialNameS != null and materialNameS != ''">
            AND T.MATERIALNAME LIKE '%${materialNameS}%'
        </if>
        <if test="sdateS != null and sdateS != ''">
            <![CDATA[
            AND (date_format(T.INTIME,'%Y-%m-%d')>= #{sdateS} AND date_format(T.INTIME,'%Y-%m-%d')<= #{edateS})
            ]]>
        </if>
        order by T.INTIME DESC
    </select>

    <!--根据物品Id查询物品库存明细(物品入库先进先出规则)-->
    <select id="getFIFOInfoByMaterialId" parameterType="java.util.Map" resultType="com.mall.admin.domain.entity.im.MaterialStore">
        SELECT
            T.ID,
            T.BATCHNO,
            T.INBIZID,
            T.MATERIALID,
            T.MATERIALNAME,
            T.AMOUNT,
            T.SURPLUSAMT,
            T.PRICE,
            T.INTIME,
            T.BIZSTATE
        FROM IM_MATERIAL_STORE T
        WHERE T.MATERIALID=#{materialId} AND T.SURPLUSAMT>0
        ORDER BY T.INTIME
    </select>
    <!--新增物品库存-->
    <insert id="addMaterialStore" parameterType="java.util.List">
        INSERT INTO IM_MATERIAL_STORE(ID,BATCHNO,INBIZID,MATERIALID,MATERIALNAME,AMOUNT,SURPLUSAMT,PRICE,INTIME)
        VALUES
        <foreach collection="list" item="materialStore" separator =",">
            (
            #{materialStore.id}, #{materialStore.batchNo}, #{materialStore.inBizId},#{materialStore.materialId},#{materialStore.materialName},
            #{materialStore.amount},#{materialStore.amount},#{materialStore.price},#{materialStore.inTime}
            )
        </foreach>
    </insert>
    <!--更新物品库存数据-->
    <update id="updateMaterialStore" parameterType="java.util.Map">
        UPDATE IM_MATERIAL_STORE
        SET SURPLUSAMT=SURPLUSAMT+#{diffAmount}
        WHERE MATERIALID=#{materialId} AND BATCHNO=#{batchNo}
    </update>
</mapper>